@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 2px solid #1d1d1f;
    outline-offset: 2px;
}
img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-logo {
    max-width: 60px;
    border-radius: 100px;
    transition: all 0.2s ease;
}

.nav-logo:hover {
    transform: scale(1.025);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;
}

.links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
}

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.links a:hover::after {
    width: 100%;

}

.btn-curriculo {
    font-family: 'Poppins', sans-serif;
    padding: 0.9rem 0.9rem;
    font-size: 1rem;
    border-radius: 980px;
    border: 1px solid #1d1d1f;
    color: #1d1d1f;
    background-color: #f5f5f7;
    cursor: pointer;
    
    transition: background-color 0.3s ease, 
                transform 0.2s ease, 
                color 0.3s ease;
}

.btn-curriculo:hover {
    background-color: #1d1d1f;
    color: #f5f5f7;
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .nav-links {
        gap: 2rem;
    }
}

:root {
    --bg: #f5f5f7;
    --text: #1d1d1f;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    padding: 5rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d1d1f;
    z-index: -100;

}

header{
    position: relative;
    padding: 6rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    max-width: 1200px;
    margin: auto;
}

header .content h1 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
}

.image img{
    border-radius: 32px;
    width: 370px;

    transition:
        transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
        box-shadow 0.6s cubic-bezier(0.16, 1, 0.3, 1);

    will-change: transform;
}

.image img::before{
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 50px;
    background-color: rgb(0, o, 0, 0.03);
    z-index: -1;
}

.image img:hover{
    transform: scale(1.025);
    opacity: 0.95;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.biblioteca {
    max-width: 1200px;
    margin: auto;
    padding: 5rem;
}

hr {
    border: none;
    border-top: 2px solid #333;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    box-sizing: border-box;
    color: #555; 
}

.title {
    margin-bottom: 1rem;
    color: black;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em; 

}

@media (max-width: 768px) {
    .projetos {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
    }
  }  

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    
  }
  
  .card {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
    padding: 20px;
    width: 470px;
    height: 600px;
    transition: transform 0.4s ease;
  }
  
  .card:hover {
    transform: translateY(-12px);
  }
  
  .card h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    color: #1d1d1f;
  }
  
  .card p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.4;
  }


  